* {
    font-family: 'East Sea Dokdo', cursive;
}
#mover {
    position: fixed;
    z-index: 4;
    height: 130px;
    font-size: 30px;
    bottom: 5vh;
    right: 5vh;
}

#mover :nth-child(1){
    bottom: 5px;
    position: absolute;
}

#mover :nth-child(2){
    bottom: 45px;
    position: absolute;
    opacity: 0;
}

#mover :nth-child(3){
    font-size: 30px;
    bottom: 85px;
    position: absolute;
    opacity: 0;
}

#mover :nth-child(4){
    bottom: 125px;
    position: absolute;
    opacity: 0;
}



